/* You can add global styles to this file, and also import other style files */
body{
    margin:0
}
header{
    min-height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}

header h1{
    font-size: 5rem;
}