article{
    align-content: center;
    /*background-image:    url('http://cdn.playbuzz.com/cdn/255434cc-9951-4d3b-8823-4e2d98dcf877/1f58f1f7-85ca-4578-8f7a-9713b6087f94.jpg');*/
    background-image: url('http://uscdn02.mundotkm.com/2015/08/darth-vader-back-in-black-star-wars-7-darth-vader-s-past-is-even-darker-than-you-imagine-jpeg-288872.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display:flex;
    justify-content: space-between;
    min-height: 750px;
    width:100%;
}
section{
    padding: 30px;
}
h1{
    color: white;
    font-size: 3rem;    
}