<article>
    <section>
        <h1>Welcome to our shop!</h1>
        <button class="ui inverted button big" routerLink="/shop">Let's buy some cool stuff</button>
    </section>
    <section>
        <ng-container *ngIf="auth.isAuthenticated();else loginButton">
            <div class="ui labeled button big" routerLink="/admin" tabindex="0" >
                <div class="ui green button big">
                    Admin Zone
                </div>
                <a (click)="auth.logout()" class="ui basic green left pointing label">
                    Logout
                </a>
            </div>
        </ng-container>
        <ng-template #loginButton>
            <button class="ui inverted button red big" (click)="auth.login()">Admin Login</button>
        </ng-template>
    </section>
</article>
